body{
    background-image: url(../images/s1200.webp);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.left_block{
    margin-bottom: 10px;
}

.content{
    background-color: #FFFFFF;
    padding-bottom: 15px;
    margin-bottom: 15px;
}